node_modules/
pnpm-lock.yaml

# Next.js
.next/
out/

# Expo & React Native
apps/mobile/.expo/
apps/mobile/node_modules/
apps/mobile/android/
apps/mobile/ios/

# Build outputs
dist/
build/

# IDE & editor settings
.vscode/

# Logs
*.log